<br><br><br>
  <ul>
   <li class="text-center">Developer Social Media Handle</li>
   <br>
     <div class="text-center">
   <a href="https://www.github.com/nitingoley" target="_blank" rel="noopener noreferrer">
    <i class="fa fa-github" style="font-size:36px"></i
  </a>

  <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
  <i class="fa fa-facebook-official" style="font-size:36px"></i>

  </a>
  
  
  <a href="https://www.linkedin.com/in/nitin-goley-869322232/" target="_blank" rel="noopener noreferrer">
  <i class="fa fa-linkedin" style="font-size:36px"></i>
  </a>
  <a href="https://www.instagram.com/nitin__goley/" target="_blank" rel="noopener noreferrer">
  <i class="fa fa-instagram" style="font-size:36px"></i>
  </a>
</div>
  </ul>