<!-- register.html -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/sign.css">
  <title>User Registration</title>
</head>
<body>
  <h1>User Registration</h1>
  <form action="/signup" method="POST">
    <div class="text"> 
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="names" required><br>
    </div>
    <div class="text"> 
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="gmail" required><br>
    </div>
    <div class="text">
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br><br>
    </div>
    <div class="text">
      <input type="submit" value="sign up">

    </div>
  </form>
  <br>
  <div class="text-center">

    <span>Already have an account</span> <a href="/login">Login </a>

  </div>
 


  <br><br><br><br>
  
  <ul>
    <li class="text-center">Developer Social Media Handle</li>
    <br>
      <div class="text-center">
    <a href="https://www.github.com/nitingoley" target="_blank" rel="noopener noreferrer">
     <i class="fa fa-github" style="font-size:36px"></i
   </a>
 
   <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
   <i class="fa fa-facebook-official" style="font-size:36px"></i>
 
   </a>
   
   
   <a href="https://www.linkedin.com/in/nitin-goley-869322232/" target="_blank" rel="noopener noreferrer">
   <i class="fa fa-linkedin" style="font-size:36px"></i>
   </a>
   <a href="https://www.instagram.com/nitin__goley/" target="_blank" rel="noopener noreferrer">
   <i class="fa fa-instagram" style="font-size:36px"></i>
   </a>
 </div>
   </ul>

</body>
</html>
