.text {
    text-align: center;
    justify-content: center;
    align-items: center;

}

h1 {
    text-align: center;
    color: red;
}

input {
    border-radius: 10px 10px 12px 10px;
    margin-right: 10px;
}

label {
    padding: 10px;

}

#l2 {
    margin-left: 30px;
}

#l1 {
    margin-left: 20px;
}

#l4 {
    margin-left: 100px;
}

input:hover {
    background-color: rgb(247, 246, 246);
    color: red;
    border-color: aqua;
}